body {
    background-color: #FFF3E0;
}

.header-panel {
    font-family: 'Syne', sans-serif; /* Добавил fallback шрифт */
    font-weight: bold;
    font-size: 20px;
    color: #7B4B33;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 5px;
    background-color: #FEE4D8;
    border-radius: 12px;
    max-width: 100%;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.header-panel a {
    text-decoration: none;
    color: inherit;
    background: none;
    border: none;
    outline: none;
    cursor: default;
}

.logo {
    transition: all 0.2s ease;
    width: 50px;
    height: 50px;
}

.logo:hover {
    transition: linear 0.2s;
    border-radius: 12px;
    filter: brightness(120%);
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

h1 {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #7B4B33;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

p {
    font-family: 'WorkSans', sans-serif; /* Добавил fallback шрифт */
    font-weight: bold;
    font-size: 20px;
    color: #A17F6E;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.join-button {
    font-family: 'Syne', sans-serif;
    font-weight: 800;
    font-size: 32px;
    color: #7B4B33;
    padding: 15px 125px;
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: #E6CFAB;
    border-radius: 30px;
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}

/* Добавьте эти стили для иконок фич */
.feature-icon {
    width: 80px;
    height: 80px;
    margin-bottom: 15px;
}

.features {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}

.feature {
    text-align: center;
    font-family: 'WorkSans', sans-serif;
    color: #7B4B33;
}
